<div class=" @CssClass timeline__event animated fadeInUp delay-2s @Type timeline-geckos">
    <div class="timeline__event__header d-none d-lg-flex">
        <div class="timeline__event__icon ">
            @* <i class="lni-cake"></i> *@
            <img src="@Icon" style="width: 50px" />
        </div>
       @*  <div class="timeline__event__date">
            <div class="timeline__event__date__lib">
                @Company<br />
                @Software<br />
                @Date
            </div>
            <div class="timeline__event__date__img">
                @Icons
            </div>

        </div> *@
    </div>

    <div class="timeline__event__content container-fluid">
        <div class="timeline__event__main__title row">
            @* <div class="row">
                <div class="col">

                </div>
            </div> *@
            <div class="col-6 d-lg-none m-auto">
                <div class=" timeline__event__icon">
                    <img src="@Icon" style="width: 40px" />
                </div>
                
            </div>
            <div class="col-6 col-xl-4 m-auto">@Company</div>
            <div class="col-12 col-sm-6 col-xl-4 m-auto">@Software</div>
            <div class="col-12 col-sm-6 col-xl-4 m-auto">@Date</div>
        </div>
        <div class="timeline__event__title">
            @Title
        </div>
        <div class="timeline__event__description">
            @((MarkupString)Description.ToString())
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Company { get; set; } 
    [Parameter]
    public string Software { get; set; }
    [Parameter]
    public string Date { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public RenderFragment Icons { get; set; }
}
